body {
    background-color: #f8f9fa;
}
.container {
    margin-top: 20px;
}
.navbar-brand {
    font-weight: bold;
}
.no-sort,
.no-sort:hover,
.no-sort:active,
.no-sort:focus {
    background: none !important;
    cursor: default !important;
    user-select: none !important;
}

table.dataTable thead th {
    background-color: #f1f1f1 !important;
    color: #333;
}

.dataTables_filter {
    display: flex;
    align-items: center;
    justify-content: end;
}

.dataTables_filter .btn-filter {
    margin-left: 5px;
}

.action-buttons {
    display: flex;
}

.action-buttons .btn {
    margin-right: 5px;
}

.action-buttons .btn i {
    margin: 0;
}

.navbar-dark .navbar-nav .nav-link.active {
    font-weight: bold;
}
